In [1]:
import nltk
import pandas as pd

In [10]:
nltk.download('vader_lexicon') 
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
df = pd.read_csv('C:/Users/hares/singaporesub/Data/initial_comments_extract.csv')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\hares\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [8]:
df

,Unnamed: 0,comment_id,post_id,author_id,comment_parent_id,body,created_date,score,edited
0,0,if18yky,t3_vsgruq,1dpn4rei,t3_vsgruq,Because you can erm... Do lots of things on li...,2022-07-06 12:07:58+08:00,1,False
1,1,if19hkq,t3_vsgruq,6b8pm1l0,t3_vsgruq,They need to know if u qualify for any income ...,2022-07-06 12:13:07+08:00,1,False
2,2,if19213,t3_vsgruq,2gskbbrj,t3_vsgruq,It‚Äôs literally in the name of the app.,2022-07-06 12:08:55+08:00,1,False
3,3,if199yu,t3_vsgruq,dk6t8oyp,t3_vsgruq,It's government app so not like they don't alr...,2022-07-06 12:11:04+08:00,1,False
4,4,if1bu8y,t3_vsgruq,164ssysk,t3_vsgruq,You're making a big fuss about a government ap...,2022-07-06 12:36:19+08:00,1,False
...,...,...,...,...,...,...,...,...,...
1120,1120,iec5dnc,t3_vo7tse,k46gt,t3_vo7tse,I feel like socioeconomic status is just one p...,2022-07-01 00:36:58+08:00,46,False
1121,1121,iee0odw,t3_vo7tse,rrgir,t3_vo7tse,"Looking at my reservist mates, I think we Mala...",2022-07-01 08:10:58+08:00,32,False
1122,1122,iee9eog,t3_vo7tse,ctdbkpnm,t3_vo7tse,"Well, Chinese and Indians are quite the same c...",2022-07-01 09:20:12+08:00,24,False
1123,1123,iebcurl,t3_vo7tse,y39md,t3_vo7tse,"Education is a little like crop growth, there ...",2022-06-30 21:21:12+08:00,18,False
1124,1124,iec1134,t3_vo7tse,doq78cqv,t3_vo7tse,Unfortunately kiasu parents will think the gap...,2022-07-01 00:08:34+08:00,12,False

In [11]:
df['sentiments'] = df['body'].apply(lambda body: sid.polarity_scores(body))

df.head()

,Unnamed: 0,comment_id,post_id,author_id,comment_parent_id,body,created_date,score,edited,sentiments
0,0,if18yky,t3_vsgruq,1dpn4rei,t3_vsgruq,Because you can erm... Do lots of things on li...,2022-07-06 12:07:58+08:00,1,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,1,if19hkq,t3_vsgruq,6b8pm1l0,t3_vsgruq,They need to know if u qualify for any income ...,2022-07-06 12:13:07+08:00,1,False,"{'neg': 0.0, 'neu': 0.628, 'pos': 0.372, 'comp..."
2,2,if19213,t3_vsgruq,2gskbbrj,t3_vsgruq,It‚Äôs literally in the name of the app.,2022-07-06 12:08:55+08:00,1,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,3,if199yu,t3_vsgruq,dk6t8oyp,t3_vsgruq,It's government app so not like they don't alr...,2022-07-06 12:11:04+08:00,1,False,"{'neg': 0.178, 'neu': 0.822, 'pos': 0.0, 'comp..."
4,4,if1bu8y,t3_vsgruq,164ssysk,t3_vsgruq,You're making a big fuss about a government ap...,2022-07-06 12:36:19+08:00,1,False,"{'neg': 0.0, 'neu': 0.852, 'pos': 0.148, 'comp..."

In [12]:
df.sentiments.head()

0    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
1    {'neg': 0.0, 'neu': 0.628, 'pos': 0.372, 'comp...
2    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
3    {'neg': 0.178, 'neu': 0.822, 'pos': 0.0, 'comp...
4    {'neg': 0.0, 'neu': 0.852, 'pos': 0.148, 'comp...
Name: sentiments, dtype: object

In [14]:
df['compound']  = df['sentiments'].apply(lambda score_dict: score_dict['compound'])

df.head()

,Unnamed: 0,comment_id,post_id,author_id,comment_parent_id,body,created_date,score,edited,sentiments,compound
0,0,if18yky,t3_vsgruq,1dpn4rei,t3_vsgruq,Because you can erm... Do lots of things on li...,2022-07-06 12:07:58+08:00,1,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1,1,if19hkq,t3_vsgruq,6b8pm1l0,t3_vsgruq,They need to know if u qualify for any income ...,2022-07-06 12:13:07+08:00,1,False,"{'neg': 0.0, 'neu': 0.628, 'pos': 0.372, 'comp...",0.8360
2,2,if19213,t3_vsgruq,2gskbbrj,t3_vsgruq,It‚Äôs literally in the name of the app.,2022-07-06 12:08:55+08:00,1,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
3,3,if199yu,t3_vsgruq,dk6t8oyp,t3_vsgruq,It's government app so not like they don't alr...,2022-07-06 12:11:04+08:00,1,False,"{'neg': 0.178, 'neu': 0.822, 'pos': 0.0, 'comp...",-0.3374
4,4,if1bu8y,t3_vsgruq,164ssysk,t3_vsgruq,You're making a big fuss about a government ap...,2022-07-06 12:36:19+08:00,1,False,"{'neg': 0.0, 'neu': 0.852, 'pos': 0.148, 'comp...",0.3818

In [44]:
df['comp_score'] = df['compound'].apply(lambda c:  'neu' if c>=0 and c<=0.35 else 'pos' if c> 0.35 else 'neg')

df.head(20)

,Unnamed: 0,comment_id,post_id,author_id,comment_parent_id,body,created_date,score,edited,sentiments,compound,comp_score
0,0,if18yky,t3_vsgruq,1dpn4rei,t3_vsgruq,Because you can erm... Do lots of things on li...,2022-07-06 12:07:58+08:00,1,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neu
1,1,if19hkq,t3_vsgruq,6b8pm1l0,t3_vsgruq,They need to know if u qualify for any income ...,2022-07-06 12:13:07+08:00,1,False,"{'neg': 0.0, 'neu': 0.628, 'pos': 0.372, 'comp...",0.8360,pos
2,2,if19213,t3_vsgruq,2gskbbrj,t3_vsgruq,It‚Äôs literally in the name of the app.,2022-07-06 12:08:55+08:00,1,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neu
3,3,if199yu,t3_vsgruq,dk6t8oyp,t3_vsgruq,It's government app so not like they don't alr...,2022-07-06 12:11:04+08:00,1,False,"{'neg': 0.178, 'neu': 0.822, 'pos': 0.0, 'comp...",-0.3374,neg
4,4,if1bu8y,t3_vsgruq,164ssysk,t3_vsgruq,You're making a big fuss about a government ap...,2022-07-06 12:36:19+08:00,1,False,"{'neg': 0.0, 'neu': 0.852, 'pos': 0.148, 'comp...",0.3818,pos
5,5,if1a6zh,t3_vsgruq,4d36a6e8,t3_vsgruq,If they really want it they don't have to even...,2022-07-06 12:19:55+08:00,1,False,"{'neg': 0.0, 'neu': 0.891, 'pos': 0.109, 'comp...",0.1513,neu
6,6,if1cs2n,t3_vsgruq,lo0z1jq6,t3_vsgruq,Erm the developer of LifeSG app literally is t...,2022-07-06 12:45:56+08:00,1,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neu
7,7,if13bzd,t3_vsfo39,39725ol,t3_vsfo39,"Just go sheng shiong green ATM, select paynow ...",2022-07-06 11:17:21+08:00,86,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neu
8,8,if14tur,t3_vsfo39,fsd8vuys,t3_vsfo39,Those who have serve knows that 70% of all arm...,2022-07-06 11:30:16+08:00,55,False,"{'neg': 0.078, 'neu': 0.922, 'pos': 0.0, 'comp...",-0.2960,neg
9,9,if17mu6,t3_vsfo39,b3nmn,t3_vsfo39,‚ÄúServed in the army for 12 years‚Äù\n\nNS 2 year...,2022-07-06 11:55:37+08:00,1,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neu
10,10,if16y7z,t3_vsfo39,aoztmhy0,t3_vsfo39,"ü§° A: ""..a privilege""\n\nü§° B: ""...cannot be mea...",2022-07-06 11:49:17+08:00,1,False,"{'neg': 0.0, 'neu': 0.783, 'pos': 0.217, 'comp...",0.3612,pos
11,11,if122ug,t3_vsfo39,mekr3owm,t3_vsfo39,huh give credits to spend also got things to c...,2022-07-06 11:06:40+08:00,16,False,"{'neg': 0.192, 'neu': 0.615, 'pos': 0.192, 'co...",0.0000,neu
12,12,if1brpt,t3_vsfo39,811f5y4z,t3_vsfo39,Wierd. I served NS and didn't beg for any cred...,2022-07-06 12:35:35+08:00,1,False,"{'neg': 0.0, 'neu': 0.66, 'pos': 0.34, 'compou...",0.8047,pos
13,13,if1bdji,t3_vsfo39,33j7br,t3_vsfo39,Can just send to our paynow anot,2022-07-06 12:31:38+08:00,1,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neu
14,14,if1a3l4,t3_vsfo39,foksk,t3_vsfo39,this will offset $10700 worth of spending next...,2022-07-06 12:19:01+08:00,1,False,"{'neg': 0.111, 'neu': 0.689, 'pos': 0.2, 'comp...",0.5472,pos
15,15,if1c50k,t3_vsfo39,ml3xd,t3_vsfo39,"Patching now liao, the cyber surfing unit doin...",2022-07-06 12:39:20+08:00,1,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neu
16,16,if1d04i,t3_vsfo39,b05sj28p,t3_vsfo39,Govt say it but don‚Äôt facilitate it.,2022-07-06 12:48:14+08:00,1,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neu
17,17,if16jbj,t3_vsfn2r,gtuz79py,t3_vsfn2r,Points 3 and 4 on schools starting later and r...,2022-07-06 11:45:32+08:00,3,False,"{'neg': 0.0, 'neu': 0.773, 'pos': 0.227, 'comp...",0.8020,pos
18,18,if166dj,t3_vsfhgg,gtuz79py,t3_vsfhgg,Nani?\n\nDidnt this line just started? Why are...,2022-07-06 11:42:16+08:00,5,False,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neu
19,19,if102mj,t3_vsfhgg,2vx2xcyw,t3_vsfhgg,> # No train service along entire Thomson-East...,2022-07-06 10:50:17+08:00,2,False,"{'neg': 0.081, 'neu': 0.891, 'pos': 0.028, 'co...",-0.8074,neg

In [45]:
df.comp_score.value_counts()

pos    399
neu    384
neg    342
Name: comp_score, dtype: int64

In [46]:
print(df.body[:5])

0    Because you can erm... Do lots of things on li...
1    They need to know if u qualify for any income ...
2               It‚Äôs literally in the name of the app.
3    It's government app so not like they don't alr...
4    You're making a big fuss about a government ap...
Name: body, dtype: object